# To be truly reproducible, you should specify the version of each library
numpy==1.21.2
pandas==1.3.2
matplotlib==3.4.3

# Extensions for Jupyter itself
jupytergraffiti==1.0.1.19
jupyter_contrib_nbextensions==0.5.1
jupyter_nbextensions_configurator==0.4.1
